

<div class="container toppush">
 <div class="center">

  <h1 class="roots-are-neat">Github Too!</h1>
  <div class="buttons-are-neat">


  <p><a class="btn btn-primary" href="/auth/github" role="button">Login with Github</a></p>
  </div>
 </div>
</div>
