

<div class="container toppush">
 <div class="center">

  <h1 class="text-in-the-middle">Github Too!</h1>
  <div class="text-in-the-middle">


  <p><a class="btn btn-primary" href="/auth/github" role="button">Login with Github</a></p>
  </div>
 </div>
</div>
