@import "bootstrap-sprockets";
@import "bootstrap";


body {
    background-image: url("octocat.png");
}

.square {

  background-color: yellow;
    padding-top: 200px;
    padding: 25px;
    border: 15px solid navy;
    margin: 25px;
    padding-right: 20px;
    padding-left: 20px;
    width: 300px;
}

.center {
    background-color: yellow;
    margin: auto;
    width: 25%;
    border: 3px solid #008B00;
    padding: 10px;
}

.text-in-the-middle {
  text-align: center;
}


.container {
 position: relative;
 height: 14rem;
 border: 1px solid;
}

.jumbotron {
 position: absolute;
 top: 50%;
 left:50%;
 padding-right: 50%;
 padding-left: 50%;
 transform: translate(-50%,-50%);
  background-color: #1B3C59;
  min-height: 100vh;
  padding-top: 30vh;
  text-align: center;
}

.home {
  color: white;
  font-weight: 100;
  font-size: 100;
}

h1.home {
  font-size: 60px;
  color: #F8BB44;
}

a.btn.btn-lg.btn-default.btn-home {
  background-color: transparent;
  border-width: 2px;
  color: #60BFBF;
  font-weight: 100;
  border-color: #60BFBF;
  margin-top: 20px;
}

a.btn.btn-lg.btn-default.btn-home:hover {
  opacity: 0.4;
}

img.img-circle.img-thumbnail.home-image {
  height: 200px;
}

.yellow{

  background-color: #FDF5E6;
  border: 3px solid #008B00;
  border-radius: 25px;
}

li{
  text-align: left;
}
